<div class="container page" data-ng-controller="controllerContatos as ctrl">
	<div class="col-md-12">
		<h2>Lista Contatos</h2>
		<table class="table table-striped table-hover">
			<thead>
				<th>ID</th>
				<th>Nome</th>
				<th>Sobrenome</th>
				<th>Telefone</th>
				<th>E-mail</th>
				<th>Endereço</th>
			</thead>
			<tbody>
				<tr *ngFor="let contato of contatos">
					<td>{{contato.id}}</td>
					<td>{{contato.nome}}</td>
					<td>{{contato.sobrenome}}</td>
					<td>{{contato.telefone}}</td>
					<td>{{contato.email}}</td>
					<td>{{contato.endereco}}</td>
					<td>
						<button class="btn glyphicon glyphicon-pencil" (click)="showEditContatoForm(contato)"> </button>
					</td>
					<td>
						<button class="btn glyphicon glyphicon-trash" (click)="removeContato(contato)"></button>
					</td>
				</tr>
			</tbody>
		</table>
		<button class="btn glyphicon glyphicon glyphicon-plus" (click)="showAddContatoForm()"> </button>
	</div>

	<!-- formulario de cadastro -->
	<form name="form" *ngIf="contatoForm">
		<h3>Novo Contato: </h3>
		<div class="form-group">
			<label for="id">Nome:</label>
			<input type="text" class="form-control" id="id" name="id" [(ngModel)]="newContato.id"/>
		</div>
		<div class="form-group">
			<label for="nome">Nome:</label>
			<input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="newContato.nome"/>
		</div>
		<div class="form-group">
			<label for="sobrenome">Sobrenome:</label>
			<input type="text" class="form-control" id="sobrenome" name="sobrenome" [(ngModel)]="newContato.sobrenome"/>
		</div>
		<div class="form-group">
			<label for="telefone">Telefone:</label>
			<input type="number" class="form-control" id="telefone" name="telefone" [(ngModel)]="newContato.telefone"/>
		</div>
		<div class="form-group">
			<label for="email">E-mail:</label>
			<input type="text" class="form-control" id="email" name="email" [(ngModel)]="newContato.email"/>
		</div>
		<div class="form-group">
			<label for="endereco">Endereço:</label>
			<input type="text" class="form-control" id="endereco" name="endereco" [(ngModel)]="newContato.endereco"/>
		</div>
		
		<nav class="navbar navbar-default">
			<button class="btn btn-success navbar-btn button" (click)="saveContato(newContato)">Salvar</button>
			<button class="btn btn-default navbar-btn button" (click)="cancelAddContato()">Cancelar</button>
		</nav>
	</form>


	<form name="formEdit" *ngIf="editContatoForm">
		<h3>Editar Contato: </h3>
		<div class="form-group">
			<label for="id">Nome:</label>
			<input type="text" class="form-control" id="id" name="id" [(ngModel)]="editContato.id"/>
		</div>
		<div class="form-group">
			<label for="nome">Nome:</label>
			<input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="editContato.nome"/>
		</div>
		<div class="form-group">
			<label for="sobrenome">Sobrenome:</label>
			<input type="text" class="form-control" id="sobrenome" name="sobrenome" [(ngModel)]="editContato.sobrenome"/>
		</div>
		<div class="form-group">
			<label for="telefone">Telefone:</label>
			<input type="number" class="form-control" id="telefone" name="telefone" [(ngModel)]="editContato.telefone"/>
		</div>
		<div class="form-group">
			<label for="email">E-mail:</label>
			<input type="text" class="form-control" id="email" name="email" [(ngModel)]="editContato.email"/>
		</div>
		<div class="form-group">
			<label for="endereco">Endereço:</label>
			<input type="text" class="form-control" id="endereco" name="endereco" [(ngModel)]="editContato.endereco"/>
		</div>
		
		<nav class="navbar navbar-default">
			<button class="btn btn-success navbar-btn button" (click)="updateContato(editContato)">Salvar</button>
			<button class="btn btn-default navbar-btn button" (click)="cancelUpdateContato()">Cancelar</button>
		</nav>
	</form>

</div>